<div id="title">
  <H1>Os 10 maiores ídolos do Corinthians na história</H1>
</div>

<div id="introducao">
  <p>Reconhecido como um dos maiores clubes do futebol sul-americano, o Corinthians construiu sua história tanto pela paixão de sua torcida quanto pelos craques que vestiram a camisa alvinegra. Com mais de um século de história, o Timão conta com uma longa lista de ídolos. Diante disso, aceitamos o desafio de selecionar os melhores jogadores do Corinthians. Nossa análise considera a trajetória de cada jogador, os títulos conquistados, suas estatísticas e o impacto que tiveram dentro do clube.</p>
</div>

<div class="idolos">
  <ol reversed='num'>
    <li>
      <h2>Paulinho</h2>
      <div class="description">
        <img src="https://s2-ge.glbimg.com/j9BsLM7w7e7xueqtoYzW4TddAUw=/0x0:5568x3712/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2024/i/z/OSKQr8SwuTT6MpC1RBRw/rib2902.jpg" alt="Paulinho chora em seu adeus.">
        <div class="textDescription">
          <p>
            Nome Completo:José Paulo Bezzera Maciel Junior <br>
            Apelidos: Paulinho <br>
            Nascimento: 25/07/1988 <br>
            Jogos pelo Corinthians: 167 <br>
            Gols marcados: 34 <br>
            Conquistas pelo Corinthians:
            Campeonato Brasileiro (2011), Libertadores (2012), Mundial de Clubes (2012) e Campeonato Paulista (2013)
          </p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Paulinho chegou ao Corinthians no ano de 2010, vindo do Bragantino, time onde obteve grande destaque nacional.
          Fez sua estréia pelo Timão no mesmo ano contra o Flamengo pela Libertadores, início que se deu sob desconfiança da torcida, já que teria a missão de dar continuidade a uma safra muito boa de volantes, mas, no ano de 2011 obteve grande destaque no Campeonato Brasileiro, sendo eleito o melhor volante da competição e ajudando o clube a se sagrar Penta Campeão Brasileiro.
          Porém, foi em 2012 que conquistou de vez o status de ídolo do Corinthians, com um gol salvador aos 42 minutos do segundo tempo, das quartas de finais da Libertadores da América, diante do rival Vasco, com direito a uma comemoração emocionante, que Paulinho cravou para sempre seu nome na história do clube.
          Foi responsável ainda pela assistência que resultou no gol de Emerson diante de Santos, em plena Vila Belmiro, pelas semifinais da Libertadores, torneio que o Corinthians viria a conquistar pela primeira vez, diante do tradicional Boca Juniors.
          Após a conquista da competição continental, Paulinho foi sondado por várias equipes da Europa, mas decidiu ficar no Corinthians para a disputa do Mundial de Clubes daquele mesmo ano, e foi nesse Mundial, que Paulinho participou da jogada que deu origem ao gol contra o Chelsea e que colocou o Corinthians, pela segunda vez, no topo do mundo.
          Em 2013, após a queda injusta na Libertadores da América, Paulinho anuncia no dia 01 de julho, que deixaria o Corinthians rumo ao Tottenham da Inglaterra, em meio à lágrimas, o volante garantiu não ser um adeus, e sim, um até logo, afirmando que o clube paulista sempre será sua casa.
          Paulinho deixou o Corinthians pela porta da frente, saiu como ídolo, o ídolo de mais de 30 milhões de loucos, mas conquistou um pedaço a mais na história, sendo o terceiro maior artilheiro da sua posição, ficando atrás apenas de Biro Biro e Wilson Mano.
          Não foi somente sua capacidade técnica e seu talento fora do comum que o tornaram tão importante para a história do time do Parque São Jorge, foram suas atitudes, seu caráter, que hoje o tornaram querido pela Nação alvinegra e o fizeram ser eleito pela Fiel Torcida o maior volante de toda a história corinthiana.</p>
      </div>
    </li>
    <li>
      <h2>Tévez</h2>
      <div class="description">
        <img src="https://cdn.meutimao.com.br/_upload/noticia/2013/03/tevez_jogou_o_brasileiro_2005_pelo_corinthians_s4h5.jpg" alt="Tévez em ação pelo Corinthians.">
        <div class="textDescription">
          <p>Nome Completo: Carlos Alberto Martinez Tevez <br>
            Apelidos: Carlitos <br>
            Nascimento: 05/02/1984 <br>
            Jogos pelo Corinthians: 78 <br>
            Gols marcados: 46 <br>
            Conquistas pelo Corinthians:
            Campeonato Brasileiro de 2005</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Torcedor do Boca Juniors asumido, Carlitos Tevez chegou ao Corinthians (via MSI) em 2005 e logo foi cravando seu nome na história do Timão. Seu estilo argentino brigador em campo aliado a técnica apurada logo conquistaram o coração da fiel que viam em Carlitos não um jogador estrangeiro que acabara de chegar, mas sim um legitimo “corinthiano maloqueiro e sofredor” dentro de campo.
        Talvez pelo fato de vir de uma família pobre das favelas argentinas, Carlitos Tevez se identificou de cara com a massa alvinegra, dizendo até que “Foi instantâneo ganhar o coração dos corintianos. Eles logo se deram conta de que vim para dar o máximo” e disse também que “Se o Corinthians não me quiser, eu não jogo mais no Brasil. Virei torcedor do Corinthians.”
        Sua raça e técnica fizeram de Tevez o responsável direto pelo título do Corinthians de 2005, sendo eleito o craque do Campeonato Brasileiro daquele ano e artilheiro do Corinthians, com 20 gols marcados.
        Era comum nos anos de 2005 e 2006 ver nos estádios bandeiras em homenagem a Carlitos Tevez, torcedores com a camisa 10 e seu nome as costas. Tevez é definitivamente um dos jogadores mais queridos e lembrados pela nação alvinegra.
        Em 2006, Tevez com todo o elenco fracassaria na libertadores da américa e após algumas confusões de dirigentes, empresários e torcedores foi transferido para o WestHam, da Inglaterra. Porém até hoje Tevez é lembrado com muito carinho pela grande maioria dos corinthanos que esperam com ansiedade pela sua volta ao Parque São Jorge.</p>
      </div>
    </li>
    <li>
      <h2>Ralf</h2>
      <div class="description">
        <img src="https://cdn.meutimao.com.br/fotos-do-corinthians/w614/2019/02/17/ralf_durante_empate_contra_o_racing_s.jpg" alt="Ralf de olho na bola, esperando para o domínio">
        <div class="textDescription">
          <p>Nome Completo: Ralf de Souza Teles <br>
            Apelidos: Ralf <br>
            Nascimento: 09/06/1984 <br>
            Jogos pelo Corinthians: 359  <br>
            Gols marcados:  8 <br>
            Conquistas pelo Corinthians:
            Campeonato Brasileiro de 2011 Libertadores da América 2012 Mundial de Clubes 2012 Campeonato Paulista 2013 Recopa 2013 Campeonato Brasileiro 2015</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Ralf começou no futebol em times amadores de São Paulo, mas se profissionalizou atuando pelo Imperatriz, em 2006. Vice-campeão maranhense, retornou ao futebol paulista e atuou por times menores até chegar ao Grêmio Barueri.
        No Campeonato Brasileiro de 2009 se destacou pelo time paulista e atraiu interesse de grandes clubes do país. Foi contratado pelo Timão para a temporada de 2010, quando o clube precisava encontrar um substituto para Cristian, que tinha sido negociado com o futebol europeu. Com boas atuações, o volante rapidamente conquistou o lugar de titular no time.
        Em 2011, ajudou o clube a ser Campeão Brasileiro e foi eleito o melhor volante da competição. As boas atuações continuaram na temporada seguinte, quando participou das campanhas vitoriosas da Libertadores e do Mundial.
        Foi autor do primeiro gol corinthiano na histórica Libertadores de 2012, o tento empatou a partida em 1 a 1 contra o Deportivo Táchira.
        No ano de 2013, conquistou os títulos Paulista e da Recopa.
        Foi Campeão Brasileiro em 2015 com o Corinthians, ajudando o time a fazer a melhor pontuação de todos os tempos da era dos pontos corridos.
        Volante de marcação, Ralf tem uma marca favorável em sua passagem pelo Timão, ele nunca foi expulso. Apesar da função em campo, o jogador sempre foi disciplinado, o que não impedia de atuar com vontade e respeito pela torcida.
        Suas partidas com a camisa corintiana o fizeram ser convocado para a Seleção Brasileira em várias ocasiões. Símbolo de raça e amor à camisa, Ralf caiu nas graças da torcida e se tornou um dos ídolos do Corinthians!
        Próximo de ter o contrato vencido no Timão, Ralf e a diretoria corinthiana não chegaram num acordo e o atleta acabou sendo vendido para o Beijing Guoan, da China em 2016.</p>
      </div>
    </li>
    <li>
      <h2>Danilo</h2>
      <div class="description">
        <img src="https://uploads.metroimg.com/wp-content/uploads/2023/04/29142715/danilo-corinthians-palmeiras-descubra-comandara-ex-parceiros.jpg" alt="Danilo de perfil para camêra.">
        <div class="textDescription">
          <div class="biografia">
            <p>Nome Completo: Danilo Gabriel de Andrade <br>
              Apelidos: Zidanilo <br>
              Nascimento: 11/06/1979 <br>
              Jogos pelo Corinthians: 359  <br>
              Gols marcados:  35  <br>
              Conquistas pelo Corinthians:
              Campeonato Paulista em 2013 e 2018; Campeonato Brasileiro em 2011, 2015 e 2017; Recopa Sul-Americana em 2013; Copa Libertadores da América em 2012; Mundial de Clubes em 2012.</p>
          </div>
        </div>
      </div>
      <h3>Biografia</h3>
      <p>Revelado pelo Goiás, o jogador se profissionalizou em 1999, mas já atuava nas categorias de base do clube desde o final da década de 90. No clube esmeraldino até 2003, Danilo conquistou quatro Campeonatos Goianos (1999, 2000, 2001 e 2003), um Campeonato Brasileiro da série B (1999) e três Copas Centro-Oeste (2000, 2001 e 2002).

        Negociado com o São Paulo, o meia passou a atuar no time em 2004, mas não teve um ano de sucesso. Isso não se repetiu no ano seguinte. Ajudou a equipe a conquistar o Campeonato Paulista, a Libertadores da América e o Mundial de Clubes em 2005, e o Campeonato Brasileiro em 2006.

        Na temporada de 2007, atuou pelo futebol japonês, defendendo o Kashima Antlers. Lá, vieram mais títulos para a conta do jogador. Em três temporadas, conquistou uma Copa do Imperador (2007), uma Supercopa do Japão (2009) e três vezes o Campeonato Japonês.

        Em 2010, o meia foi negociado com o Corinthians, e mais uma vez faria uma passagem vitoriosa. De início, foi peça importante na conquista do Campeonato Brasileiro em 2011. Não pelos gols marcados (foram 3), mas pelo número de assistências: o meia deu 12 passes que resultaram em gols corinthianos.

        Em 2012, ano glorioso do Corinthians, Danilo foi mais uma vez fundamental para as conquistas da temporada. Quem não lembra do gol contra o Santos? Ou então do passe de calcanhar para Emerson Sheik marcar contra o Boca Juniors?

        Na libertadores de 2012, Danilo foi responsável pelo tento de empate contra o Santos no segundo jogo da semifinal, garantindo o Corinthians na decisão da competição. Nos jogos da final, boas atuações. O primeiro duelo acabou empatado em 1 a 1, mas no segundo o Corinthians se impôs, e derrotou o Boca Juniors por 2 a 0, no Pacaembu. E no primeiro gol do jogo, Danilo foi essencial. Após cobrança de falta de Alex e desvio de cabeça de Jorge Henrique, a bola sobrou para Danilo, que ajeitou de calcanhar para Emerson Sheik abrir o placar.

        No Mundial de Clubes, também em 2012, quisera o destino, ou a boa visão de jogo do então camisa 20, que seu nome estivesse, mais uma vez, no lance do gol. Danilo recebeu dentro da grande área, limpou a jogada e bateu com a direita, mas foi travado pelo zagueiro do Chelsea. A bola sobrou para Guerrero, que colocou o Corinthians na frente do placar, de cabeça.

        No ano seguinte, em 2013, ajudou na conquista do título inédito da Recopa Sul-Americana. A final foi contra outro time no qual Danilo foi multicampeão: o São Paulo. No primeiro jogo, o Corinthians venceu por 2 a 1, e no segundo por 2 a 0, sendo o último tento do jogo marcado por Danilo. O jogador aproveitou o rebote do goleiro são-paulino e marcou o segundo gol corinthiano do jogo. Após o apito final, foi eleito o melhor jogador da competição e levantou a taça. Ainda em 2013, Danilo conquistou o Campeonato Paulista.

        Em 2015, conquistou o Campeonato Brasileiro. no ano de 2017, Danilo foi vitorioso de mais uma edição do torneio nacional e do Campeonato Paulista.

        Em 2018, Danilo iniciou seu último ano vestindo o manto alvinegro. Na última partida do Corinthians na Arena, Danilo e Emerson Sheik foram homenageados pelo time e viram todas as taças que conquistaram pelo clube em campo. Com o fim de seu contrato no Corinthians, Danilo seguiu para o Vila Nova-GO, clube com o qual tem contrato até o fim de 2019.</p>
    </li>
    <li>
      <h2>Ronaldo Fenômeno</h2>
      <div class="description">
        <img src="https://cdn.meutimao.com.br/_upload/jogador/ronaldo_luiz_nazario_de_lima_r_corinthians.jpg" alt="Ronaldo de braços abertos com a camisa preta do Corinthians">
        <div class="textDescription">
          <p>Nome Completo: Ronaldo Luís Nazário de Lima <br>
            Apelidos: Fenômeno <br>
            Nascimento: 22/09/1976 <br>
            Jogos pelo Corinthians: 69 <br>
            Gols marcados:  35  <br>
            Conquistas pelo Corinthians:
            Campeonato Paulista 2009 e Copa do Brasil 2009</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Um dos maiores jogadores da história do futebol mundial com passagens por São Cristovão (RJ), Cruzeiro (MG), PSV (Hol), Barcelona (Esp), Inter de Milão (Ita), Real Madrid (Esp) e Milan (Ita), Ronaldo Fenômeno teve a sua contratação anunciada em 9 de dezembro de 2008, sendo apresentado no Parque São Jorge com grande festa e para milhares de torcedores no dia 12 daquele mesmo mês.
          Fora de forma devido a inúmeras lesões e operações, Ronaldo passou os primeiros meses de 2009 fazendo tratamento e recuperando a forma física. Sua estréia foi num jogo pela Copa do Brasil, contra o Itumbiara (MG), entrando no decorrer do segundo tempo. No jogo seguinte, clássico contra o Palmeiras válido pelo Campeonato Paulista, Ronaldo entrou na metade do segundo tempo e as 47 minutos fez, de cabeça, o seu primeiro gol com a camisa do Corinthians. Gol que foi muito comemorado por ele, junto a fiel torcida e que virou notícia no mundo todo. Foi jogador fundamental na conquista do campeonato paulista e da copa do brasil, fazendo gols decisivos nas fases finais, inclusive um que é considerado pelo próprio o mais bonito de sua carreira, no primeiro jogo das finais do Paulistão e que segundo Pelé (que estava na vila belmiro e viu ao vivo), foi "gol de craque, de gênio".
          Ronaldo, devido a inúmeras lesões (algumas durante seu tempo no Corinthians) foi ficando cada vez menos em campo e no início de 2011 anunciou a sua aposentadoria do futebol por não suportar mais conviver com as dores e a rotina de atleta profissional. Mesmo fora de campo e aposentado, Ronaldo ainda pode ser visto em alguns jogos no Pacaembu torcendo pelo Corinthians, pois como ele mesmo disse em sua apresentação, "é mais um louco pro bando de loucos". Afinal de contas ele pode ter passado pelos maiores times do mundo, pode ter jogado com craques internacionais. Mas a sensação de vestir o manto sagrado e ver a fiel torcida em festa é algo único!</p>
      </div>
    </li>
    <li>
      <h2>Neto</h2>
      <div class="description">
        <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/09/09/1737708009-gazeta-press-foto-1930964.jpg" alt="Neto olhando para o céu na chuva em campo.">
        <div class="textDescription">
          <p>Nome Completo: José Ferreira Neto <br>
            Apelidos: Xodó da Fiel <br>
            Nascimento: 09/09/1966 <br>
            Jogos pelo Corinthians: 228  <br>
            Gols marcados:  80  <br>
            Conquistas pelo Corinthians:
            Campeonato Brasileiro de 1990 e Campeonato Paulista de 1997</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Nascido em Santo Antônio de Posse e revelado pelas categorias de base do Guarani chegou ao Corinthians após discretas passagens por outros times da capital paulista e pelo Bangu (RJ). O curioso é que Neto chegou ao Parque São Jorge, vindo do Palmeiras, sendo trocado pelo meia Ribamar.
          Um dos maiores jogadores da história do Corinthians, Neto só não teve maior destaque mundial devido ao seu temperamento forte e aos problemas com a balança. Muito marcado pelo seu temperamento, Neto chegou a pegar alguns jogos de suspensão após ter cuspido na cara do juiz José Aparecido de Oliveira num clássico contra o time do parque antártica. Pena que foi amenizada e revertida em multa após alguns jogos. Mas esse fato, sem dúvida alguma, pesou em futuras convocações pra seleção, já que Neto vinha sendo o grande destaque do time do Corinthians no início dos anos 90, marcando muitos gols e sendo destaque do time. Como era um exímio cobrador de faltas e craque com a bola nos pés, Neto foi o principal responsável pelo título brasileiro de 1990, marcando 9 gols naquele campeonato e sendo o líder absoluto da equipe. Injustiçado pelo então técnico da seleção brasileira Sebastião Lazaroni não foi convocado pra copa do mundo daquele ano.
          Pelo Corinthians ainda ganhou o Paulista de 1997, mas já numa época em que não era titular do time e após ter passado por times de menor expressão no cenário nacional e mundial.
          Em 1991 ganhou o prêmio "bola de prata" da revista Placar após mais uma brilhante atuação no campeonato brasileiro. Mas a maior conquista pessoal não são taças como a bola de prata ou a medalha de prata dos jogos olímpicos de 1988. A maior conquista é ser considerado até hoje um ídolo da nação corinthiana (mesmo por aqueles que não o viram em campo) a ponto de no jogo Nigéria x Espanha pela copa do mundo da França o mundo todo podia ver uma faixa estendida na arquibancada com os dizeres "Neto, eterno xodó da fiel".</p>
      </div>
    </li>
    <li>
      <h2>Rivelino</h2>
      <div class="description">
        <img src="https://static.corinthians.com.br/uploads/1607526141ef1e491a766ce3127556063d49bc2f98.jpg" alt="Rivelino em seu último gol com a camisa do Corinthians. Imagem em preto e branco.">
        <div class="textDescription">
          <p>Nome Completo: Roberto Rivelino <br>
            Apelidos: Reizinho do Parque <br>
            Nascimento: 01/01/1946 <br>
            Jogos pelo Corinthians: 474  <br>
            Gols marcados:  144 <br>
            Conquistas pelo Corinthians:
            Rio-São Paulo 1966</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Formado no futebol de salão (futsal) e nas categorias de base do Corinthians, foi um dos maiores jogadores da história do futebol mundial.
          Rivelino é o ídolo mais injustiçado da história do Corinthians.
          Após a decisão do campeonato paulista de 1974, Riva foi considerado o culpado pela derrota e foi negociado com o Fluminense. O mais triste é que no segundo jogo da final Rivelino jogou muito mais para o time do que de costume, ajudando por muitas vezes a defesa. Isso acabou tornando-o presa fácil pra zaga adversária. Fato que causou estranheza em todos e culminou com a sua saída.
          Considerado por Maradona o maior jogador de todos os tempos e sendo o maior ídolo do Neto, Rivelino enquanto jogou no Corinthians participou das copas de 1970 (aquela que é considerada a melhor seleção nacional de todos os tempos) e da de 1974. Sendo campeão e quarto colocado, respectivamente. Participou ainda da copa de 1978, mas na maior parte das partidas ficou no banco de reservas.
          Autor do drible “elástico” e dono de uma bomba de perna esquerda, o “Reizinho do Parque” teve uma breve passagem como dirigente do Corinthians, mas sem grande sucesso. Mas o que marcou nessa sua passagem foi que em uma entrevista disse que havia voltado ao Corinthians para ser campeão e que se fosse possível trocaria o título de 1970 com a seleção pelo de 1974 pelo Corinthians. Mostrando assim o quanto Rivelino merece ser tratado como ídolo, o quanto que ele gosta do Corinthians e quanto merece ser lembrado e estar pra sempre na história do Timão.</p>
      </div>
    </li>
    <li>
      <h2>Cássio</h2>
      <div class="description">
        <img src="https://f.i.uol.com.br/fotografia/2014/10/17/447380-970x600-1.jpeg" alt="Cassio segurando a taça do Mundial de 2012.">
        <div class="textDescription">
          <p>Nome Completo: Cássio Ramos <br>
            Apelidos: Gigante Cássio <br>
            Nascimento: 06/06/1987 <br>
            Jogos pelo Corinthians: 712  <br>
            Gols marcados:  0 <br>
            Conquistas pelo Corinthians:
            Paulista 2019
            Paulista 2018
            Paulista 2017
            Brasileirão 2017
            Brasileirão 2015
            Paulista 2013
            Recopa 2013
            Libertadores 2012
            Mundial de Clubes 2012</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Cássio estreou no Corinthians em 28 de março de 2012. Em seu primeiro jogo pelo Timão, o Corinthians venceu XV de Piracicaba por 1 a 0, em partida válida pelo Campeonato Paulista de 2012. Na ocasião, o jogador de 24 anos começou a partida entre os titulares no Pacaembu.
        Em mais de uma década no clube, Cássio chegou, também, à marca de jogador com mais títulos conquistados da história do Corinthians, com nove títulos. Ao seu lado está o último goleiro a ser titular antes dele: Julio Cesar - no entanto, este não entrou em campo em quatro das conquistas. Relembre todos os títulos do Gigante no Brasil, na América do Sul, e até no Japão, onde fez uma de suas melhores atuações da carreira contra o Chelsea:
        Copa Libertadores: 2012
        Mundial de Clubes FIFA: 2012
        Campeonato Paulista (4x): 2013, 2017, 2018 e 2019
        Recopa Sul-Americana: 2013
        Campeonato Brasileiro (2x): 2015 e 2017
        Vale lembrar que o ídolo foi capitão nas quatro glórias de 2017 em diante. O título mais recente foi o Paulistão de 2019, derrotando o São Paulo na final.
        </p>
      </div>
    </li>
    <li>
      <h2>Marcelinho Carioca</h2>
      <div class="description">
        <img src="https://cdn.meutimao.com.br/_upload/jogador/marcelo_pereira_surcin_x_corinthians.jpg" alt="Marcelinho Carioca fazendo gesto de silêncio após marcar pelo Corinthians.">
        <div class="textDescription">
          <p>Nome Completo: Marcelo Pereira Surcin <br>
            Apelidos: Marcelinho Carioca, Pé de anjo <br>
            Nascimento: 31/12/1971 <br>
            Jogos pelo Corinthians: 433  <br>
            Gols marcados:  206 <br>
            Conquistas pelo Corinthians:
            Campeonato Paulista 1995, 1997, 1999 e 2001. Copa do Brasil de 1995. Campeonato Brasileiro 1998 e 1999. Campeonato Mundial 2000</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Sem dúvida alguma um dos maiores ídolos do Corinthians esse carioca que ao chegar no Parque São Jorge disse: "Quero marcar minha passagem aqui. Vim para o Corinthians para ser campeão!".
        E foi campeão mesmo. Jogador que mais títulos ganhou com a camisa do Corinthians, Marcelinho sempre foi peça fundamental do elenco Corinthiano. Vendido ao Valência da Espanha em 1997, retornou ao Corinthians após curto período na Europa pra fazer parte daquele time que é considerado por muitos um dos melhores times do Corinthians e, entre outros, levar o Timão ao título mundial, em 2000.
        Um dos maiores cobradores de falta e escanteio do futebol brasileiro, o “Pé de anjo” (apelido carinhoso da fiel) era certeza de perigo nas bolas paradas. Foi de falta que fez o seu primeiro gol com a camisa do Corinthians, em jogo contra Portuguesa. De falta e contra a mesma Lusa, em um lance muito parecido, fez o seu centésimo gol com o manto alvi-negro. Como era especialista em faltas próximas a área, Marcelinho Carioca surpreendeu a todos num jogo contra o Palmeiras em que bateu da intermediária uma falta certeira no ângulo do goleiro Veloso, que tinha pedido pra não ter barreira no lance. Craque também com a bola rolando, Marcelinho Carioca ganhou uma placa de Pelé após ter marcado um gol contra o Santos, na Vila Belmiro, em que recebe a bola, chapela o zagueiro e toca no contra-pé do goleiro Edinho.
        Após sua segunda passagem pelo Corinthians, em 2001, Marcelinho Carioca andou por alguns clubes de menor expressão e em uma partida valida pelo Campeonato Brasileiro de 2005, atuando pelo Brasiliense teve o seu nome gritado pela torcida do Corinthians ao entrar em campo. Após a partida, Marcelinho vestiu a “segunda pele” (como ele sempre chamou o manto do Corinthians) e foi ao alambrado do Pacaembu para agradecer a homenagem. Em 2006 saiu do Brasiliense e teve uma nova passagem pelo Corinthians, mas dessa vez muito discreta e teve seu contrato rescindido a pedido do então técnico Leão.
        Em 2010 foi convidado pra fazer algumas partidas em comemoração ao centenário do Corinthians, mas acabou jogando somente 45 minutos de um amistoso contra o Huracán da Argentina.</p>
      </div>
    </li>
    <li>
      <h2>Sócrates</h2>
      <div class="description">
        <img src="https://static.gazetaesportiva.com/uploads/imagem/2019/02/19/socrates_gazetas.jpg" alt="Sócrates comemorando com a torcida corinthiana ao fundo.">
        <div class="textDescription">
          <p>Nome Completo: Sócrates Brasileiro Sampaio de Souza Vieira de Oliveira  <br>
            Apelidos: Doutor <br>
            Nascimento: 19/02/1954  <br>
            Falecimento:  04/12/2011, aos 57 anos <br>
            Jogos pelo Corinthians: 298 <br>
            Gols marcados:  172 <br>
            Conquistas pelo Corinthians:
            Campeonato Paulista 1979, 1982, 1983</p>
        </div>
      </div>
      <h3>Biografia</h3>
      <div class="biografia">
        <p>Doutor dentro e fora de campo, Sócrates foi o mentor da Democracia Corinthiana e definitivamente um dos maiores jogadores da história do Corinthians.
          Jogador de muita técnica, muita classe e de uma inteligência incomparável, Sócrates é um dos maiores jogadores da história do futebol mundial.
          Chamado de “Doutor” não só pela forma com que tratava a bola, mas também por ser formado em medicina, Sócrates sempre foi um talento no meio de campo do Corinthians.
          Sócrates entra para a história do Corinthians por ter feito a torcida aprender com ele dentro e fora das quatro linhas. De time pressionado pela falta de títulos (tinha acabado de sair da fila quando ele chegou) a um time que sabia esperar e jogava com o cérebro, esperando o momento certo para contra-golpear e com isso conquistar o paulista de 79 e o bi de 82/83 onde ele foi peça fundamental. Fora das quatro linhas ensinou a torcida do Corinthians (e o Brasil) o que era democracia, com a implantação da Democracia Corinthiana onde todos, do presidente ao roupeiro, tinham o mesmo peso nas decisões tomadas pelo clube.
          Por ser um jogador diferenciado e com uma inteligência acima da média, Sócrates sempre teve uma visão de jogo incrível e sempre soube usar como poucos o calcanhar, dando passes que desconcertavam as defesas adversárias.
          Sócrates ficou marcado pelas suas comemorações de gol, onde somente erguia o punho direito para o alto.
          Por não ser um atleta na concepção da palavra, sempre ter bebido e fumado, Sócrates sempre se colocou como mais um. Uma pessoa normal, de carne e osso, cheio de erros, de defeitos. Talvez até por isso seja tão idolatrado por toda a fiel até os dias de hoje e sendo sempre lembrado como um dos maiores jogadores da história.
          Sócrates ainda teve passagens por times da Europa e por outros times do Brasil e foi convocado para duas copas o mundo, a de 1982 (considerado por muitos o melhor time do Brasil pós copa de 70) e a de 1986.</p>
      </div>
    </li>
  </ol>
</div>
