.SmallCard {
  display: flex;
  flex-direction: row;
  margin-left: 5.5vh;
  border-bottom: 1px solid #202020;
  width: 91.3vh;
  margin-left: 5vh;
  margin-bottom: 5.7vh;

}
li{
  list-style: none;
}
img {
  width: 25vh;
}
#SmallContent{
  margin-left: 20px;

}
#SmallContent p{
  color: #5c5c5c;
  margin-top: 1vh;
}
#SmallContent h2{
  color: #cbcbcb;
}
#date {
  padding-bottom: 10px;
  color: #303030;
  font-size: 0.8rem;
}
a{
  text-decoration: none;
}
