#page{
  margin-top: 2vh;
  margin-left: 6vh;
  margin-bottom: 2vh;
  text-align: justify;
}
#boxMateria{
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
#boxMateria img{
  width: 1200px;
  height: 100%;
}
#materia{
  width: 30%;
  margin-left: 1vh;
  text-align: justify;
  justify-content: center;
}
#subtitle{
  margin-top: 2vh;
  color: #5c5c5c;
}
#page h2{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  text-align: justify;
  line-height: 0.9;
  letter-spacing: 6px;
}
