<ul>
  <div id="MenuLeft">
    <li><a href="#Home"><img id="Home" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYSLbOK66HWQjbGGEOp1xDQxHy2HTzXDni-w&s" alt=""></a></li>
    <li id="mandamentos"><a [routerLink]="['mandamentos']">Mandamentos</a></li>
    <li id="idolos"><a [routerLink]="['idolos']">Ídolos</a></li>
    <div id="MenuRight">
      <li id="github"><a href="https://github.com/BennerDias" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li id="linkedin"><a href="https://www.linkedin.com/in/benner-heberth-pereira-dias-2a0a30176?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li id="instagram"><a href="https://www.instagram.com/bennerheberth/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </div>
  </div>
</ul>

